<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-3 formulario">
            <input [(ngModel)]="busqueda" (keyup)="verBusqueda()" class="form-control mr-sm-2" type="text" placeholder="Busca tu Show">
            <button (click)="verBusqueda()" class="btn btn-block btn-primary" type="submit">buscar</button>
          </div>
        </div>
      </div>

    </div>





    <div class="col-md-4 separador" *ngFor="let show of _servicio.shows">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="show.show.image?.medium" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{show.show.name}}</h4>
          <p class="card-text"></p>
          <button (click)="cambiarUrl(show.show.id)" class="btn btn-primary">Show More</button>
        </div>
      </div>
    </div>

    <div *ngIf="mostrar" class="alert alert-info col-md-12 text-center" role="alert">
      <strong>Por Favor usa el Buscador para ver resultados!</strong>
    </div>

  </div>
</div>
